@import './styles/color.scss';

.thumbnail-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  width: 155px;
  height: 155px;
  &:hover {
    .thumbnail-look {
      display: flex;
    }
  }
  margin-right: 20px;
  margin-bottom: 20px;
}

.thumbnail-bg {
  width: 155px;
  height: 155px;
  background-position: center;
  background-size: cover;
}

.thumbnail-look {
  display: none;
  width: 155px;
  height: 155px;
  background-color: rgba(0, 0, 0, 0.65);
  filter: none;
  position: absolute;
  top: 0px;
  z-index: 2;
  color: $color-white;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
