@import '/styles/color.scss';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: $color-paragraph-black;
  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.text {
  margin-right: 4px;
  span {
    padding-left: 4px;
    color: $color-primary;
  }
}
.count {
  font-weight: bold;
}
