@import '/styles/color.scss';

.container {
  width: 376px;
  display: flex;
  flex-direction: column;
  color: $color-paragraph-black;
}

.header {
  width: 100%;
  margin-bottom: 72px;
  font-weight: bold;
  font-size: 20px;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 42px;
}
