$color-paragraph-black: #444;

$color-light-grey-1: #faf9fc;
$color-light-grey-2: #f5f4f7;
$color-light-grey-3: #ecebf0;
$color-light-grey-4: #e2e1e8;
$color-light-grey-5: #d9d7e0;
$color-light-grey-6: #c7c5d1;
$color-light-grey-7: #ada9ba;

$color-grey-1: #8b879c;
$color-grey-2: #6c687d;
$color-grey-3: #565266;

$color-background: #f8f7fc;
$color-black: #000;
$color-white: #fff;

$color-label: #605c73;
$color-input-border-hover: #5635db;

$color-button: #605c73;
$color-button-background: #efedf5;
$color-button-hover: #f3f2f7;

$color-modal-background: rgba(0, 0, 0, 0.8);

$color-primary: #503aa9;
$color-primary-hover: #604abd;

$color-warning: #e2555d;
$color-warning-hover: #f5676f;

$color-box-shadow: 0px 8px 48px -16px #b2adcc;
$primary-box-shadow: 0px 8px 36px rgba(80, 58, 169, 0.45);
$waring-box-shadow: 0px 8px 36px rgba(226, 85, 93, 0.45);

$thumbnail-upload-border: 1px dashed #d3cfe5;
